<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title>
      {% if page.title %}
        {{ page.title }} – {{ site.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    {{ content_for_header }}
  </head>

  <body>
    {% unless page.url == '/' or page.url == '/index.html' %}
      <!-- Show page header only on subpages -->
      <header class="site-header" role="banner">
        <div class="wrapper">
          <p class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></p>
        </div>
      </header>
    {% endunless %}

    <main class="wrapper">
      {{ content }}
    </main>
  </body>
</html>