<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title %}
      {{ page.title }} – {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <!-- Minima CSS -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
</head>
<body>
  {% unless page.url == '/' or page.url == '/index.html' %}
  <header class="site-header" role="banner">
    <div class="wrapper">
      <p class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></p>
    </div>
  </header>
  {% endunless %}

  <main class="wrapper">
    {{ content }}
  </main>
</body>
</html>
